.square0 {
    left: calc(42*(100%)/48);
    top: calc(42*(100%)/48);
}

.square00 {
    left: calc(42*(100%)/48);
    top: calc(42*(100%)/48);
}

.square1 {
    left: calc(37*(100%)/48);
    top: calc(42*(100%)/48);
}

.square2 {
    left: calc(33*(100%)/48);
    top: calc(42*(100%)/48);
}

.square3 {
    left: calc(29*(100%)/48);
    top: calc(42*(100%)/48);
}

.square4 {
    left: calc(42*(100%)/80);
    top: calc(42*(100%)/48);
}

.square5 {
    left: calc(21*(100%)/48);
    top: calc(42*(100%)/48);
}

.square6 {
    left: calc(32*(100%)/88);
    top: calc(42*(100%)/48); 
}

.square7 {
    left: calc(25*(100%)/88);
    top: calc(42*(100%)/48);
}

.square8 {
    left: calc(18*(100%)/88);
    top: calc(42*(100%)/48);
}

.square9 {
    left: calc(11*(100%)/88);
    top: calc(42*(100%)/48);
}

.square10 {
    left: calc(1*(100%)/188);
    top: calc(42*(100%)/48);
}

.square11 {
    left: calc(1*(100%)/188);
    top: calc(37*(100%)/48);

}

.square12 {
    left: calc(1*(100%)/188);
    top: calc(33*(100%)/48);
    
}

.square13 {
    left: calc(1*(100%)/188);
    top: calc(29*(100%)/48);
    
}

.square14 {
    left: calc(1*(100%)/188);
    top: calc(25*(100%)/48);
    
}

.square15 {
    left: calc(1*(100%)/188);
    top: calc(21*(100%)/48);
    
}

.square16 {
    left: calc(1*(100%)/188);
    top: calc(17*(100%)/48);
    
}

.square17 {
    left: calc(1*(100%)/188);
    top: calc(16*(100%)/57);
}

.square18 {
    left: calc(1*(100%)/188);
    top: calc(11*(100%)/57);
}

.square19 {
    left: calc(1*(100%)/188);
    top: calc(7*(100%)/57);
}

.square20 {
    left: calc(1*(100%)/188);
    top: calc(0*(100%)/57);
}

.square21 {
    left: calc(23*(100%)/188);
    top: calc(0*(100%)/57);

}

.square22 {

    left: calc(39*(100%)/188);
    top: calc(0*(100%)/57);
}

.square23 {
    left: calc(54*(100%)/188);
    top: calc(0*(100%)/57);
    
}

.square24 {
    left: calc(69*(100%)/188);
    top: calc(0*(100%)/57);
}

.square25 {
    left: calc(84*(100%)/188);
    top: calc(0*(100%)/57);
}

.square26 {
    left: calc(100*(100%)/188);
    top: calc(0*(100%)/57);
}

.square27 {
    left: calc(115*(100%)/188);
    top: calc(0*(100%)/57);
    
}

.square28 {
    left: calc(130*(100%)/188);
    top: calc(0*(100%)/57);
}

.square29 {
    left: calc(146*(100%)/188);
    top: calc(0*(100%)/57);
    
}

.square30 {
    left: calc(167*(100%)/188);
    top: calc(0*(100%)/57);
}

.square31 {
    left: calc(167*(100%)/188);
    top: calc(7*(100%)/57);

}

.square32 {
    left: calc(167*(100%)/188);
    top: calc(11*(100%)/57);
}

.square33 {
    left: calc(167*(100%)/188);
    top: calc(16*(100%)/57);
}

.square34 {
    left: calc(167*(100%)/188);
    top: calc(21*(100%)/57);
}

.square35 {
    left: calc(167*(100%)/188);
    top: calc(25*(100%)/57);
    
}

.square36 {
    left: calc(167*(100%)/188);
    top: calc(30*(100%)/57);
}

.square37 {
    left: calc(167*(100%)/188);
    top: calc(34*(100%)/57);
    
}

.square38 {
    left: calc(167*(100%)/188);
    top: calc(39*(100%)/57);
}

.square39 {
    left: calc(167*(100%)/188);
    top: calc(44*(100%)/57);
    
}





